@model EmailConfirmModel
@{
    ViewData["Title"] = "ConfirmEmil";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            @if (Model.EmailVerified == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>Your email has been verified successfully.</p>
                </div>
            }
            else
            {
                if (Model.EmailSent)
                {
                    <p>email sent to your registerd email id.</p>
                }
                else
                {
                    <p>we have sent you an email on your email id. click on the link to sign in</p>
                }

                <form asp-action="ConfirmEmail">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Email" />

                    <div class="alert alert-danger" role="alert">
                        <p>did not get any email or deleted by mistake?.</p>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="resend cofirmation email" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>

