@model WebGentle.BookStore.Model.ForgetPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Forget Password</h4>
            <hr />
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>we hve sent an email on your regesterd email.</p>
                </div>
            }
            else
            {
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-primary" />
                    </div>
                </form>

                <br />
                <div>
                    <a asp-action="SignIn" asp-controller="Account">SignIn</a>
                </div>
            }
        </div>
    </div>

</div>
