@model WebGentle.BookStore.Model.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h4>ResetPassword</h4>
            <hr />
            @if (Model?.IsSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>password reset successfully.</p>
                </div>
            }
            else
            {
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="UserId" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />

                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="control-label"></label>
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset" class="btn btn-primary" />
                    </div>
                </form>

                <br />
                <div>
                    <a asp-action="SignIn" asp-controller="Account">SignIn</a>
                </div>
            }
        </div>
    </div>

</div>